@using RaceRetreat.Blazor.Helpers
@using RaceRetreat.Contracts

@page "/map1"
@inject PlaysHelper _playsHelper
@inject NavigationManager _navigationManager

<h1>"map-1" - Introductie</h1>

<p><a href="_api/maps/map-1" target="_blank">Download map-1 JSON</a></p>

@if (_getPlayersResponse == null)
{
    <p><em>Bezig met laden van data...</em></p>
}
else if (_getPlayersResponse.Count == 0)
{
    <p><em>Nog geen spelers hebben deze map gereden!</em></p>
}
else
{
    <p>
        @foreach (var player in _getPlayersResponse)
        {
            var cssClass = $"solutionColor{player.Index}";
            <span class="@cssClass"> [ @player.PlayerName ] </span>
        }
    </p>
}

<img src=@($"_api/images/map-1?r={_imageRefresh}") style="height: 100%; width: 100%; object-fit: contain" />

@code
{
    private GetPlayersResponse _getPlayersResponse;
    private Guid _imageRefresh = Guid.NewGuid();

    protected async void RunTimer()
    {
        using var timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

        while (await timer.WaitForNextTickAsync())
        {
            _imageRefresh = Guid.NewGuid();
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _getPlayersResponse = await _playsHelper.GetPlayersByLevel("map-1");

        RunTimer();
    }
}